includes:
    - vendor/larastan/larastan/extension.neon

parameters:

    paths:
        - app
        - src
        - database/migrations
        - database/seeders
        - database/factories

    # Rule level: https://phpstan.org/user-guide/rule-levels
    level: 5

    ignoreErrors:
        []

    excludePaths:
        - ./*/*/FileToIgnore.php

